In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('data_EDA.csv')
df.head()

,Unnamed: 0,price,adress,Комнат,Площадь,Кухня,Этаж,Ремонт,Тип сделки,Количество балконов,...,Количество собственников,Несовершеннолетние собственники,Прописанные несовершеннолетние,Перепланировка,Спортивная площадка,Санузел,Наименьшее количество этажей,Площадь парковки,latitude,longitude
0,0,10800000.0,"Владивосток, Аллилуева улица, 3",3.0,65.1,12.0,8.0,1,Свободная продажа,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.127345,131.925239
1,1,4700000.0,"Владивосток, улица Нейбута, 2ак",1.0,28.4,6.0,25.0,0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.124767,131.957348
2,2,4350000.0,"Приморскийкрай, Владивосток, 2",2.0,44.0,8.0,2.0,1,Свободная продажа,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,5850000.0,"Приморскийкрай, Владивосток, улица Полковника ...",NaN,36.6,6.0,3.0,0,Свободная продажа,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15300000.0,"Владивосток, улица Леонова, 70",4.0,71.0,6.0,21.0,1,Свободная продажа,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.087450,131.856284

In [20]:
def transform_renovation(value):
    if pd.isna(value):
        return np.random.choice([0, 1]) 
    elif value == "Отсутствует":
        return 0
    else:
        return 1

df['Ремонт'] = df['Ремонт'].apply(transform_renovation)

In [21]:
def transform_deal_type(value):
    if pd.isna(value):
        return np.random.choice([0, 1])  
    elif value == "Свободная продажа":
        return 1
    elif value == "Альтернатива":
        return 0
    else:
        return np.random.choice([0, 1])  

df['Тип сделки'] = df['Тип сделки'].apply(transform_deal_type)

In [22]:
def transform_balcony(value):
    if pd.isna(value):
        return int(np.clip(np.round(np.random.normal(0.5, 0.2)), 0, 1))
    elif value == "нет":
        return 0
    else:
        return 1

df['Балкон'] = df['Балкон'].apply(transform_balcony)

In [23]:
def transform_trash_chute(value):
    if pd.isna(value) and np.random.rand() < 0.4:
        return np.nan
    elif pd.isna(value):
        return int(np.clip(np.round(np.random.normal(0.5, 0.2)), 0, 1))
    else:
        return 1 

df['Мусоропровод'] = df['Мусоропровод'].apply(transform_trash_chute)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       418 non-null    int64
 1   price                            418 non-null    float64
 2   adress                           418 non-null    object
 3   Комнат                           344 non-null    float64
 4   Площадь                          372 non-null    float64
 5   Кухня                            313 non-null    float64
 6   Этаж                             372 non-null    float64
 7   Ремонт                           418 non-null    int64
 8   Тип сделки                       418 non-null    int64
 9   Количество балконов              266 non-null    float64
 10  Мусоропровод                     320 non-null    float64
 11  Год постройки                    390 non-null    float64
 12  Материал стен                    413 non-null    object
 13  Серия дома                       162 non-null    object
 14  Количество этажей                411 non-null    float64
 15  Лифт                             182 non-null    float64
 16  Тип перекрытий                   379 non-null    object
 17  Тип фундамента                   216 non-null    object
 18  Горячее водоснабжение            301 non-null    object
 19  Количество квартир               95 non-null     float64
 20  Холодное водоснабжение           138 non-null    object
 21  Теплоснабжение                   70 non-null     object
 22  Энергоснабжение                  28 non-null     object
 23  Водоотведение                    10 non-null     object
 24  Балкон                           418 non-null    int64
 25  Детская площадка                 5 non-null      object
 26  Год ввода в эксплуатацию         8 non-null      float64
 27  Класс энергоэффективности        59 non-null     object
 28  Количество подъездов             7 non-null      float64
 29  Количество лифтов                27 non-null     float64
 30  Жилая                            34 non-null     object
 31  Высота потолков                  11 non-null     object
 32  Грузовой лифт                    10 non-null     object
 33  Газ                              13 non-null     object
 34  Лет в собственности              19 non-null     object
 35  Вид из окон                      8 non-null      object
 36  Вентиляция                       6 non-null      object
 37  Количество собственников         9 non-null      float64
 38  Несовершеннолетние собственники  6 non-null      object
 39  Прописанные несовершеннолетние   3 non-null      object
 40  Перепланировка                   3 non-null      object
 41  Спортивная площадка              2 non-null      object
 42  Санузел                          1 non-null      object
 43  Наименьшее количество этажей     2 non-null      float64
 44  Площадь парковки                 1 non-null      float64
 45  latitude                         374 non-null    float64
 46  longitude                        374 non-null    float64
dtypes: float64(19), int64(4), object(24)
memory usage: 153.6+ KB

In [25]:
if 'Балкон' in df.columns and 'количество балконов' in df.columns:
    df.loc[(df['Балкон'] == 0) & (df['количество балконов'].notna()) & (df['количество балконов'] != 0), 'Балкон'] = 1

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       418 non-null    int64
 1   price                            418 non-null    float64
 2   adress                           418 non-null    object
 3   Комнат                           344 non-null    float64
 4   Площадь                          372 non-null    float64
 5   Кухня                            313 non-null    float64
 6   Этаж                             372 non-null    float64
 7   Ремонт                           418 non-null    int64
 8   Тип сделки                       418 non-null    int64
 9   Количество балконов              266 non-null    float64
 10  Мусоропровод                     320 non-null    float64
 11  Год постройки                    390 non-null    float64
 12  Материал стен                    413 non-null    object
 13  Серия дома                       162 non-null    object
 14  Количество этажей                411 non-null    float64
 15  Лифт                             182 non-null    float64
 16  Тип перекрытий                   379 non-null    object
 17  Тип фундамента                   216 non-null    object
 18  Горячее водоснабжение            301 non-null    object
 19  Количество квартир               95 non-null     float64
 20  Холодное водоснабжение           138 non-null    object
 21  Теплоснабжение                   70 non-null     object
 22  Энергоснабжение                  28 non-null     object
 23  Водоотведение                    10 non-null     object
 24  Балкон                           418 non-null    int64
 25  Детская площадка                 5 non-null      object
 26  Год ввода в эксплуатацию         8 non-null      float64
 27  Класс энергоэффективности        59 non-null     object
 28  Количество подъездов             7 non-null      float64
 29  Количество лифтов                27 non-null     float64
 30  Жилая                            34 non-null     object
 31  Высота потолков                  11 non-null     object
 32  Грузовой лифт                    10 non-null     object
 33  Газ                              13 non-null     object
 34  Лет в собственности              19 non-null     object
 35  Вид из окон                      8 non-null      object
 36  Вентиляция                       6 non-null      object
 37  Количество собственников         9 non-null      float64
 38  Несовершеннолетние собственники  6 non-null      object
 39  Прописанные несовершеннолетние   3 non-null      object
 40  Перепланировка                   3 non-null      object
 41  Спортивная площадка              2 non-null      object
 42  Санузел                          1 non-null      object
 43  Наименьшее количество этажей     2 non-null      float64
 44  Площадь парковки                 1 non-null      float64
 45  latitude                         374 non-null    float64
 46  longitude                        374 non-null    float64
dtypes: float64(19), int64(4), object(24)
memory usage: 153.6+ KB

In [27]:
if 'Лифт' in df.columns:
    df['Лифт'] = df['Лифт'].apply(lambda x: 1 if x == 'есть' else x)

In [28]:
df['Тип перекрытий'].unique()

array(['Железобетонный', 'Деревянный', nan, 'Смешанный', 'Монолитный',
       'Иное'], dtype=object)

In [29]:
df

,Unnamed: 0,price,adress,Комнат,Площадь,Кухня,Этаж,Ремонт,Тип сделки,Количество балконов,...,Количество собственников,Несовершеннолетние собственники,Прописанные несовершеннолетние,Перепланировка,Спортивная площадка,Санузел,Наименьшее количество этажей,Площадь парковки,latitude,longitude
0,0,10800000.0,"Владивосток, Аллилуева улица, 3",3.0,65.1,12.0,8.0,1,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.127345,131.925239
1,1,4700000.0,"Владивосток, улица Нейбута, 2ак",1.0,28.4,6.0,25.0,1,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.124767,131.957348
2,2,4350000.0,"Приморскийкрай, Владивосток, 2",2.0,44.0,8.0,2.0,1,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,5850000.0,"Приморскийкрай, Владивосток, улица Полковника ...",NaN,36.6,6.0,3.0,1,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15300000.0,"Владивосток, улица Леонова, 70",4.0,71.0,6.0,21.0,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.087450,131.856284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,415,18600000.0,"Владивосток, Некрасовская улица, 48а",NaN,NaN,NaN,NaN,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.120418,131.907219
414,416,9900000.0,"Владивосток, улица Сипягина, 26",3.0,69.2,9.0,1.0,1,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.094198,131.858780
415,417,13181000.0,"Владивосток, улица Прапорщика Комарова, 52",2.0,36.7,8.0,2.0,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.120541,131.893674
416,418,2650000.0,"Владивосток, улица Адмирала Корнилова, 12",1.0,12.2,NaN,1.0,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417,419,8200000.0,"Владивосток, улица Давыдова, 35",1.0,44.5,10.0,5.0,1,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.175823,131.925436

In [30]:
if 'Адрес' in df.columns:
    df.drop(columns=['address'], inplace=True)

if 'Unnamed:0.1' in df.columns:
    df.drop(columns=['Unnamed:0.1'], inplace=True)

if 'Unnamed:0' in df.columns:
    df.drop(columns=['Unnamed:0'], inplace=True)

In [31]:
columns_translation = {
    'price': 'price',  # Цена
    'adress': 'address',  # Адрес
    'Комнат': 'rooms',  # Количество комнат
    'Площадь': 'area',  # Площадь
    'Кухня': 'kitchen_area',  # Площадь кухни
    'Этаж': 'floor',  # Этаж
    'Ремонт': 'renovation',  # Тип ремонта
    'Тип сделки': 'deal_type',  # Тип сделки
    'Балкон': 'balcony',  # Балкон
    'Мусоропровод': 'trash_chute',  # Мусоропровод
    'Лет в собственности': 'years_in_ownership',  # Лет в собственности
    'Количество собственников': 'number_of_owners',  # Количество собственников
    'Класс энергоэффективности': 'energy_efficiency_class',  # Класс энергоэффективности
    'Энергоснабжение': 'power_supply',  # Энергоснабжение
    'Количество лифтов': 'number_of_elevators',  # Количество лифтов
    'Вентиляция': 'ventilation',  # Вентиляция
    'Грузовой лифт': 'freight_elevator',  # Грузовой лифт
    'Газ': 'gas_supply',  # Газоснабжение
    'latitude': 'latitude',  # Широта
    'longitude': 'longitude'  # Долгота
}

df.rename(columns=columns_translation, inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       418 non-null    int64
 1   price                            418 non-null    float64
 2   address                          418 non-null    object
 3   rooms                            344 non-null    float64
 4   area                             372 non-null    float64
 5   kitchen_area                     313 non-null    float64
 6   floor                            372 non-null    float64
 7   renovation                       418 non-null    int64
 8   deal_type                        418 non-null    int64
 9   Количество балконов              266 non-null    float64
 10  trash_chute                      320 non-null    float64
 11  Год постройки                    390 non-null    float64
 12  Материал стен                    413 non-null    object
 13  Серия дома                       162 non-null    object
 14  Количество этажей                411 non-null    float64
 15  Лифт                             182 non-null    float64
 16  Тип перекрытий                   379 non-null    object
 17  Тип фундамента                   216 non-null    object
 18  Горячее водоснабжение            301 non-null    object
 19  Количество квартир               95 non-null     float64
 20  Холодное водоснабжение           138 non-null    object
 21  Теплоснабжение                   70 non-null     object
 22  power_supply                     28 non-null     object
 23  Водоотведение                    10 non-null     object
 24  balcony                          418 non-null    int64
 25  Детская площадка                 5 non-null      object
 26  Год ввода в эксплуатацию         8 non-null      float64
 27  energy_efficiency_class          59 non-null     object
 28  Количество подъездов             7 non-null      float64
 29  number_of_elevators              27 non-null     float64
 30  Жилая                            34 non-null     object
 31  Высота потолков                  11 non-null     object
 32  freight_elevator                 10 non-null     object
 33  gas_supply                       13 non-null     object
 34  years_in_ownership               19 non-null     object
 35  Вид из окон                      8 non-null      object
 36  ventilation                      6 non-null      object
 37  number_of_owners                 9 non-null      float64
 38  Несовершеннолетние собственники  6 non-null      object
 39  Прописанные несовершеннолетние   3 non-null      object
 40  Перепланировка                   3 non-null      object
 41  Спортивная площадка              2 non-null      object
 42  Санузел                          1 non-null      object
 43  Наименьшее количество этажей     2 non-null      float64
 44  Площадь парковки                 1 non-null      float64
 45  latitude                         374 non-null    float64
 46  longitude                        374 non-null    float64
dtypes: float64(19), int64(4), object(24)
memory usage: 153.6+ KB

In [33]:
too_much_columns = ['Детская площадка', 'Год ввода в эксплуатацию', 'Высота потолков', 'Вид из окон', 'Несовершеннолетние собственники', 'Прописанные несовершеннолетние', 'Перепланировка', 'Спортивная площадка', 'Санузел', 'Наименьшее количество этажей', 'Площадь парковки', 'address']
df.drop(columns=too_much_columns, inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               418 non-null    int64
 1   price                    418 non-null    float64
 2   rooms                    344 non-null    float64
 3   area                     372 non-null    float64
 4   kitchen_area             313 non-null    float64
 5   floor                    372 non-null    float64
 6   renovation               418 non-null    int64
 7   deal_type                418 non-null    int64
 8   Количество балконов      266 non-null    float64
 9   trash_chute              320 non-null    float64
 10  Год постройки            390 non-null    float64
 11  Материал стен            413 non-null    object
 12  Серия дома               162 non-null    object
 13  Количество этажей        411 non-null    float64
 14  Лифт                     182 non-null    float64
 15  Тип перекрытий           379 non-null    object
 16  Тип фундамента           216 non-null    object
 17  Горячее водоснабжение    301 non-null    object
 18  Количество квартир       95 non-null     float64
 19  Холодное водоснабжение   138 non-null    object
 20  Теплоснабжение           70 non-null     object
 21  power_supply             28 non-null     object
 22  Водоотведение            10 non-null     object
 23  balcony                  418 non-null    int64
 24  energy_efficiency_class  59 non-null     object
 25  Количество подъездов     7 non-null      float64
 26  number_of_elevators      27 non-null     float64
 27  Жилая                    34 non-null     object
 28  freight_elevator         10 non-null     object
 29  gas_supply               13 non-null     object
 30  years_in_ownership       19 non-null     object
 31  ventilation              6 non-null      object
 32  number_of_owners         9 non-null      float64
 33  latitude                 374 non-null    float64
 34  longitude                374 non-null    float64
dtypes: float64(16), int64(4), object(15)
memory usage: 114.4+ KB

In [35]:
df.to_csv('data_3.csv')